html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
  }

@import 'variables.module.scss';

.header {
  background-color: $main-background-color;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

//  .body {
//  color: #fff;
//  background: none;
//  background: black;
//}